# Untracked directories
.idea/
.idea/*
deploy/
deploy/*
temp/
build/
tmp/
doc/build/
doc/build/*
vrtbuilder/ui/resources.py
vrtbuilder/externals/qps/qpsresources.py
qgisresources/
qgisresources/*

# Untrack compiled files
*.aux.xml
*.pyc
*.pyd
*.iml
__pycache__/

